body {
    background-color: #0c1222 !important;
    /* background-color: #fff !important; */
}

/*! Navbar customize  */
.dark-nav-bg {
    background-color: #1e2b47 !important;
}

.nav-link {
    color: #fff !important;
}

.navbar-nav .nav-link.active {
    color: #00a0ff !important;
    font-weight: 600 !important;
}

.nav-link:hover {
    color: #00a0ff !important;
}


/*! home-top-banner */

.home-top-banner {
    background: url('../../imgs/banner/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-layer {
    background-color: #00000082;
}

/*! search-box */
.form-control:focus {
    border-color: #fff !important;
    box-shadow: none !important;
}


/*! service-card */
.custom-card {
    border: none !important;
    cursor: pointer;
    transition: 0.4s ease;
    width: 18rem !important;
    background: #1e2b47 !important;
    color: #fff !important;
}

.custom-card:hover {
    box-shadow: 6px 10px 5px rgb(0 0 0 / 40%) !important;
    transform: scale(1.2);
}

.card-text {
    color: #9c9c9c !important;
}

/*! service-details-card */
.service-details-card {
    background: #1e2b47 !important;
}

.service-details-img {
    height: 350px !important;
    cursor: pointer;
}

.service-bg-layer {
    background-color: rgb(0 0 0 / 86%) !important;
}

/*! customer review slider */

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 250px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/*! home-bottom-banner */
.home-bottom-banner {
    background: url('../../imgs/banner/banner2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-layer {
    background-color: #00000082;
}


/*! auth-card */
.auth-card {
    border: none !important;
    cursor: pointer;
    transition: 0.4s ease;
    width: 28rem !important;
    background: #1e2b47 !important;
    color: #fff !important;
}


/*! footer  */

.bg-footer {
    background-color: #1e2b47 !important;
}



/*? media query ?*/
@media (max-width: 768px) {
    .card {
        border: none !important;
        cursor: pointer;
        transition: 0.4s ease;
        width: 14rem !important;
    }
}