body {
    background-color: #0c1222 !important;
}

/*! Navbar customize  */
.dark-nav-bg {
    background-color: #1e2b47 !important;
}

.nav-link {
    color: #fff !important;
}

.navbar-nav .nav-link.active {
    color: #00a0ff !important;
    font-weight: 600 !important;
}

.nav-link:hover {
    color: #00a0ff !important;
}


/*! home-top-banner */

.home-top-banner {
    background: url('../../imgs/banner/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-layer {
    background-color: #00000082;
}

/*! search-box */
.form-control:focus {
    border-color: #fff !important;
    box-shadow: none !important;
}


/*! service-card */
.card {
    border: none !important;
    cursor: pointer;
    transition: 0.4s ease;
}

.card:hover {
    box-shadow: 6px 10px 5px rgb(0 0 0 / 40%) !important;
    transform: scale(1.2);
}

.card-body {
    background: #1e2b47 !important;
    color: #fff !important;
}

/* .card-title {
    color: rgb(120, 119, 119) !important;
} */
.card-text {
    color: #9c9c9c !important;
}

/*! footer  */

.bg-footer {
    background-color: #1e2b47 !important;
}